on early-init
    start ueventd

on init
    export PATH /sbin:/system/bin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mount tmpfs tmpfs /tmp/

    mkdir /boot
    mount vfat /dev/block/mmcblk0p1 /boot

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service adbd /sbin/adbd

service console /system/bin/sh
    console
    user root
    group log

service recovery /sbin/recovery

